{% extends 'base.html.twig' %}

{% block title %}Créer votre compte{% endblock %}

{% block body %}
    <h1 class="titleConnexion">Créer votre compte</h1>

    <div class="contenuFom">
        {{ include('registration/_form.html.twig') }}
    </div>
{% endblock %}
