<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pirates Circus{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <header>
        {% include 'header/navbar.html.twig' %}
    </header>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
